:root {
  --yellow: #eef13f;
  --orange: hsl(13, 99%, 60%);
  --green: #80b238;
  --blue: #80c1d6;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #80c1d6;
}

/*NAVIGATION*/
/*Vérifier padding dans l'inspecteur*/

nav {
  background: hsl(85, 53%, 45%, 80%);
  text-transform: uppercase;
  padding: 0.2rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

nav a {
  font-family: "Atma", sans-serif;
  color: white;
  text-decoration: none;
}

nav ul li:last-child {
  font-weight: bold;
}

nav ul li {
  transition: 0.5s;
}

nav ul li:nth-child(odd):hover {
  transform: rotate(5deg) scale(1.5);
}

nav ul li:nth-child(even):hover {
  transform: rotate(-5deg) scale(1.5);
}

/*HEADER*/

header {
  background-color: var(--blue);
  background-image: url(/img/blue-splash.png);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  border-bottom: 0.4rem solid #78b6c9;
}

.site_logo {
  max-width: 100%;
  height: auto;
  margin: 6rem auto 3rem;
}

/*MAIN*/

main {
  max-width: 60rem;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 0.4rem solid #78b6c9;
}

h1,
button {
  font-family: "Bangers", sans-serif;
  text-transform: uppercase;
  font-size: 4rem;
  color: white;
  letter-spacing: 0.125rem;
  text-shadow: 0.375rem 0.25rem rgba(0, 0, 0, 0.3);
  text-align: center;
}

h1::after {
  content: "";
  height: 3rem;
  margin-top: 2rem;
  display: block;
  background-image: linear-gradient(
      to right,
      var(--yellow) 50%,
      transparent 50%
    ),
    linear-gradient(to right, var(--yellow) 50%, transparent 50%);
  background-repeat: repeat-x;
  background-size: 3rem 1.5rem;
  background-position: left top, 1.5rem bottom;
}

/*FORM*/

form {
  font-family: "Atma", sans-serif;
  font-size: 1.5rem;
  color: white;
}

@media (min-width: 30rem) {
  form {
    grid-template-columns: 1fr 1fr;
    gap: 1rem 2rem;
    display: grid;
  }
  button {
    grid-column: 1 / 3;
  }
}

input {
  color: white;
  background: var(--orange);
  padding: 1rem;
  border-radius: 0.625rem;
  width: 100%;
  margin: 0.3rem 0 1.3rem 0;
  border: none;
}

input:focus {
  background: var(--yellow);
  color: var(--orange);
  border: none;
}

button {
  height: 10rem;
  font-size: 1.5rem;
  text-shadow: 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
  background: url(/img/submit_bg.png) no-repeat;
  background-size: contain;
  background-position: center;
  border: none;
  transform: rotate(-10deg);
  transition: 0.6s;
  margin: 0 auto 5rem auto;
  display: block;
}

button:hover {
  transform: rotate(0deg) scale(1.5);
}

/*FOOTER*/

footer {
  background: var(--yellow);
  border-top: 0.4rem solid #e0e33b;
  border-bottom: 0.4rem solid #e0e33b;
  position: relative;
  font-family: "Atma", sans-serif;
  padding: 1.5rem 1rem 3.5rem 1rem;
}

.kn_logo {
  width: 9rem;
  max-width: 100%;
  height: auto;
  position: absolute;
  top: -4rem;
  left: 0;
  right: 0;
  margin: auto;
}

h2 {
  font-family: "Bangers", sans-serif;
  text-transform: uppercase;
  font-size: 3rem;
  color: black;
  letter-spacing: 0.125rem;
  text-shadow: 0.375rem 0.25rem rgba(0, 0, 0, 0.2);
  text-align: center;
}

h3 {
  font-family: "Atma", sans-serif;
  text-align: center;
  margin: 2rem 0 1.5rem 0;
}

footer p {
  line-height: 1.5rem;
  margin: 0;
}

footer p:first-of-type {
  margin-bottom: 2rem;
}

@media (min-width: 30em) {
  footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem 2rem;
  }
  footer p:first-of-type {
    text-align: right;
  }
  footer address:nth-child(6) {
    text-align: right;
  }
  h2 {
    grid-column: 1 / 3;
  }
  h3 {
    grid-column: 1 / 3;
  }
}
