:root {
  --yellow: #eef13f;
  --orange: hsl(13, 99%, 60%);
  --green: #80b238;
  --blue: #80c1d6;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Atma", sans-serif;
  margin: 0;
  width: 100%;
}
/*header*/
header {
  background-color: var(--blue);
  text-align: center;
  background-image: url(/img/blue-splash.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.nav-menu {
  width: 100%;
  background: hsl(85, 53%, 45%, 80%);
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
}
.nav-menu ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.nav-menu li:last-child {
  font-weight: bold;
}

.nav-menu a {
  text-decoration: none;
  color: white;
}
.nav-menu ul li:nth-child(odd):hover {
  transform: scale(1.5) rotate(5deg);
}
.nav-menu ul li:nth-child(even):hover {
  transform: scale(1.5) rotate(-5deg);
}
.nav-menu ul li {
  transition: 0.5s;
}

.TripleDare {
  height: auto;
  max-width: 100%;
  display: block;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
}
h1 {
  color: var(--orange);
  font-family: "Bangers", sans-serif;
  font-size: 6.5rem;
  text-shadow: 2px 2px 2px white;
  letter-spacing: 2px;
  text-align: center;
  margin-top: 3rem;
  line-height: 6.5rem;
}
/*Main*/
main {
  margin: 0 auto;
  padding-bottom: 3.5rem;
  background: var(--orange);
  display: block;
  border-top: 0.4rem solid hsl(13, 99%, 55%);
  border-bottom: 0.4rem solid hsl(13, 99%, 55%);
}
.obstacles {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 6rem;
  width: calc(100% / 2);
  position: relative;
}
h2 {
  color: white;
  font-size: 4rem;
  font-family: "Bangers";
  text-align: center;
  padding-top: 3rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  letter-spacing: 2px;
  text-shadow: 4px 4px 0 hsl(0, 0%, 33%, 0.5);
}

/* Damier séparant obstacles des images */
table {
  margin: auto;
  border-spacing: 0;
  margin-bottom: 3rem;
}
td {
  width: 3vmin;
  height: 3vmin;
}
tr:nth-child(odd) td:nth-child(odd),
tr:nth-child(even) td:nth-child(even) {
  background-color: var(--yellow);
}
article ul {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  max-width: 100%;
  height: auto;
}
article ul li {
  list-style: none;
  font-weight: bold;
  grid-template-columns: (3, 1fr);
  transition: 0.5s;
}
.obstacles li {
  background: var(--green);
  border-radius: 10%;
  padding: 0 3rem;
  color: white;
}

.obstacles li:hover {
  background: var(--yellow);
  color: var(--orange);
}

li img {
  max-width: 100%;
  height: auto;
  justify-content: center;
}
.obstacles h3 {
  text-align: center;
  font-size: 1.5rem;
}

/*FOOTER*/
footer {
  background: var(--yellow);
  border-top: 0.4rem solid #e0e33b;
  border-bottom: 0.4rem solid #e0e33b;
  position: relative;
  font-family: "Atma", cursive;
  padding: 1.5rem 1rem 3.5rem 1rem;
}

.kn_logo {
  width: 9rem;
  max-width: 100%;
  height: auto;
  position: absolute;
  top: -4rem;
  left: 0;
  right: 0;
  margin: auto;
}

footer h3 {
  font-family: "Bangers", cursive;
  text-transform: uppercase;
  font-size: 3rem;
  color: black;
  letter-spacing: 0.125rem;
  text-shadow: 0.375rem 0.25rem rgba(0, 0, 0, 0.2);
  text-align: center;
  grid-column: 1 / 3;
}

h4 {
  font-family: "Atma", cursive;
  text-align: center;
  grid-column: 1 / 3;
  margin: 2rem 0 1.5rem 0;
}

footer p {
  line-height: 1.5rem;
  margin: 0;
}

footer p:first-of-type {
  margin-bottom: 2rem;
}

@media (min-width: 30rem) {
  footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem 2rem;
  }
  footer p:first-of-type {
    text-align: right;
  }
  footer p:nth-child(6) {
    text-align: right;
  }
}
